.second_sec {
	background-image: url("../../assets/images/ufo_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 160vh;
	position: relative;
	z-index: -1;
	overflow: hidden;
}

.about_us {
	position: absolute;
	top: 35%;
	color: white;

	width: 100%;

	text-align: center;
}

.black_overlay {
	height: 100%;
	width: 100%;
	display: block;
	z-index: 10;
	position: relative;
	background-image: linear-gradient(
		0deg,
		black 5%,
		transparent,
		transparent 90%
	);
}

.p_abouttext_two {
	font-family: "Avenir";
}
.light_ray {
	width: 100%;
	height: 100vh;
	left: 0;
	top: 24%;
	position: absolute;
}

.ufo {
	left: 50%;
	top: 0%;
	width: 550px;
	height: 300px;
	position: absolute;
	margin-left: -275px;

	display: flex;
	justify-content: center;
}

.ufo_image {
	position: relative;
	z-index: 7;
}

.rays {
	width: 250%;
	overflow: hidden;
	height: 200vh;
	position: absolute;
}

.ray1,
.ray2 {
	display: block;
	left: 50%;
	height: 0;
	z-index: 5;

	position: absolute;
	transform: translate(-50%, 100px);
	border-bottom: 2000px solid rgba(255, 255, 255, 0.2);
}

.ray1 {
	border-left: 55vw solid transparent;
	border-right: 55vw solid transparent;
	width: 0vw;
}

.ray2 {
	width: 0vw;
	border-left: 48vw solid transparent;
	border-right: 48vw solid transparent;
}

.ufo_scrollM {
	top: 10%;
}

.p_abouttext p {
	margin-bottom: 15px;
	font-size: 30px;
}

.p_abouttext {
	position: relative;
	margin-top: 130px;
	font-family: "GothamBookItalic";
}

.p_abouttext::after {
	position: absolute;
	left: 0px;
	right: 0;
	margin: 0 auto;
	top: -65px;
	width: 17%;
	height: 3%;
	background: white;
	content: "";
}

.staR_about {
	position: absolute;
	top: 37%;
	width: 5%;
	left: 11%;
	height: 6%;
}

.staR2_about {
	position: absolute;
	top: 15%;
	width: 5%;
	right: 11%;
	height: 6%;
}

.about_uS {
	width: 22%;
}

section.second_sec_two {
	display: none;
}
