.second_sec {
	background-image: url("../../assets/images/ufo_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 160vh;
	position: relative;
	z-index: -1;
	overflow: hidden;
}

.about_us{
	position: absolute;
    top: 50%;
    color: white;
    font-size: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
	font-family: GothamBoldItalic;
	
	font-weight: bold;
}

.black_overlay {
	height: 100%;
	width: 100%;
	display: block;
	z-index: 10;
	position: relative;
	background-image: linear-gradient(
		0deg,
		black 5%,
		transparent,
		transparent 90%
	);
}

.light_ray {
	width: 100%;
	height: 100vh;
	left: 0;
	top: 24%;
	position: absolute;
}

.ufo {
	left: 50%;
	top: -80%;
	width: 550px;
	height: 300px;
	position: absolute;
	margin-left: -275px;

	display: flex;
	justify-content: center;
	transition: all 0.9s ease;
}

.ufo_image {
	position: relative;
	z-index: 7;
}

.rays {
    width: 200%;
    overflow: hidden;
    height: 0vh;
    position: absolute;
	transition: all 3s ease;
}

.ray1,
.ray2 {
	display: block;
	left: 50%;
	height: 0;
	z-index: 5;

	position: absolute;
	transform: translate(-50%, 100px);
	border-bottom: 2000px solid rgba(255, 255, 255, 0.2);
}

.ray1 {
	border-left: 55vw solid transparent;
	border-right: 55vw solid transparent;
	width: 0vw;
}

.ray2 {
	width: 0vw;
	border-left: 48vw solid transparent;
	border-right: 48vw solid transparent;
}

.ufo_scrollM{
	top: 10%;
}

.height-ray{
	height: 200vh;
  }
  

  .p_abouttext p{
	margin-bottom: 15px;
	font-size: 40px;
  }



.p_abouttext {
    position: relative;
}

.p_abouttext::after{
	position: absolute;
	left: -110px;

	top: 0;
	width: 5px;
	height: 100%;
	background:white;
	content: "";

}


.staR_about {
    position: absolute;
    top: 37%;
    width: 5%;
    left: 11%;
    height: 6%;
}



.staR2_about {
    position: absolute;
    top: 15%;
    width: 5%;
    right: 11%;
    height: 6%;
}
