.fourth_section {
	color: white;
	min-height: 580vh;
	background-image: linear-gradient(
			181deg,
			black 3%,
			transparent 17%,
			transparent
		),
		url("../assets/images/vector_smart.png");
	background-image: -webkit-gradient(
		181deg,
		black 3%,
		transparent 17%,
		transparent
	);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 4;
	overflow-y: visible;
	overflow-x: clip;
}

.content_image_div {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
}
.left_content_div {
	width: 35%;
}

.left_content_div img {
	width: 83%;
	height: 100%;
	object-fit: contain;
}

.div_meteoroid {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.meteoroid_img {
	position: absolute;
	right: 0;
	top: 0;
	width: 25%;
}

.rocket_img {
	left: 0%;
	bottom: 0%;
	width: 20%;
	position: absolute;
}

.rocket {
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.innovative {
	top: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 200%);
	width: 100%;
	height: 17%;
}

.innovative h1 {
	font-size: 6rem;
}

.bottoms_cloud {
	position: absolute;
	bottom: -233px;
	left: 0;
	width: 100%;
	height: auto;
}
.bottoms_cloud img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.right_content_div h6 {
	font-family: GothamBoldItalic;
	font-size: 67px;
	margin: 0;
	font-style: italic;
	position: relative;
}

.right_content_div h6::before {
	bottom: 0;
	content: "";
	height: 3px;
	width: 150px;
	position: absolute;
	background-color: white;
}

.right_content_div {
	width: 36%;
	padding-top: 69px;
	color: white;
}

.right_content_div p {
	font-size: 28px;
	line-height: 2rem;
	font-weight: bold;
	font-style: italic;
	margin-top: 19px;
	font-family: GothamBoldItalic;
}

.font_social,
.font_advertising {
	position: absolute;
	font-size: 75px;
	font-family: GothamBoldItalic;
	font-style: italic;
	font-weight: bold;
	color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
	transition: all 0.5s ease;
	margin: 0;
}

.font_social {
	top: 20%;
	left: -20%;
}

.font_advertising {
	top: 40%;
	right: -20%;
}

.Advertising {
	position: absolute;
	right: -901%;
	bottom: 32px;
	font-size: 65px;
	margin: 0;
	z-index: -1;
	font-family: GothamBoldItalic;
	font-style: italic;
	font-weight: bold;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
		1px 1px 0 #fff;
	transition: all 0.9s ease;
}

.sm_text {
	width: 100%;
	bottom: 10rem;

	padding-top: 5rem;
	position: absolute;
	text-align: center;
}

.sm_text p {
	margin: 15px 0;
	font-family: GothamBoldItalic;
	font-size: 2.5rem;
	font-style: italic;
	font-weight: bold;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	text-shadow: -1px -1px 0 #fff;
}

.head_programatic {
	top: 35%;
	width: 100%;
	display: flex;
	position: absolute;
	text-align: center;
	color: transparent;
	margin: 4rem 0 6rem 0;
	justify-content: center;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
}

.head_programatic h6 {
	font-size: 80px;
	font-style: italic;
	font-weight: bold;
	font-family: GothamBoldItalic;
}

.programmatic {
	position: absolute;
	left: -30%;
	margin-right: 1rem;
}

.buying {
	position: absolute;
	right: -14%;
}

.para_programatic {
	margin: 0 0 5rem 0;
}

.text_programatic {
	/* position: absolute; */
	/* bottom: 0; */
	/* left: 50%; */
	width: 100vw;
	color: #fff;
	font-size: 30px;
	/* margin-left: -50vw; */
	font-weight: bold;
	text-align: center;
	font-style: italic;
	font-family: GothamBoldItalic;
}

.ul_rocket {
	/* left: 0; */
	width: 100%;
	display: flex;
	color: white;
	/* bottom: -250px; */
	font-size: 25px;
	/* position: absolute; */
	align-items: center;
	justify-content: center;
}

.ul_rocket ul {
	/* margin: auto; */
	padding: 0 15rem;
	list-style: none;
	font-family: GothamBoldItalic;
	font-style: italic;
	font-weight: bold;
}

.ul_rocket li {
	padding-bottom: 31px;
	position: relative;
	padding-left: 68px;
}

.ul_rocket li::after {
	position: absolute;
	top: 0;
	left: 21px;
	width: 28px;
	height: 31px;
	content: "";
	background-position: center;
	background-image: url(../../assets/images/star.png);
	background-size: contain;
	background-repeat: no-repeat;
}
