.seven {
	background-color: black;
	min-height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.lamp_fish {
	top: 30%;
	width: 40%;
	position: absolute;
}

.underwaterrock {
	right: 0;
	bottom: 0;
	position: absolute;
}

.dark_atlantic_top,
.dark_atlantic_bottom {
	min-height: 30vh;
	position: absolute;
	width: 100%;
	z-index: 5;
	top: 0;
}

.dark_atlantic_top {
	background-image: linear-gradient(180deg, black 35%, transparent 95%);
	top: 0;
}
.dark_atlantic_bottom {
	background-image: linear-gradient(0deg, black, transparent);
	bottom: 0;
}
