.six {
	background: url(../assets/images/water.png);
	min-height: 100vh;
	background-size: cover;
	margin-top: -89px;
	position: relative;
	overflow: hidden;
}
.six_main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.waves {
	position: absolute;
	top: -1%;
	width: 100%;
	z-index: 10;
}
.dark_six_bottom {
	background-image: linear-gradient(0deg, black 0%, transparent 90%);
	min-height: 30vh;
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 5;
}

.rock_mountain {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 3;
}

.tenticles1,
.tenticles2 {
	width: 100%;
	position: absolute;

	z-index: 3;
	height: 58%;
}

.tenticles1 {
	bottom: -320px;
}

.tenticles2 {
	bottom: -320px;
}

.coralright {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.bubbleS {
	position: absolute;
	bottom: 0;
	width: 22%;
}

.filter {
	position: absolute;
	top: 15%;
	z-index: 15;
	width: 17%;
}
.carousel_phone {
	width: 70%;
}

#slider {
	position: relative;
	overflow: hidden;
	margin: 20px auto 0 auto;
	border-radius: 4px;
}

#slider ul {
	position: relative;
	margin: 0;
	padding: 0;
	height: 200px;
	list-style: none;
}

#slider ul li {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 500px;

	text-align: center;
	line-height: 300px;
}

img.control_prev,
img.control_next {
	position: absolute;
	top: 40%;
	z-index: 999;
	display: block;
	padding: 4% 3%;
	width: auto;
	height: auto;

	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	opacity: 0.8;
	cursor: pointer;
}

img.control_prev:hover,
img.control_next:hover {
	opacity: 1;
	-webkit-transition: all 0.2s ease;
}

img.control_prev {
	border-radius: 0 2px 2px 0;
	left: 32%;
	width: 5%;
}

img.control_next {
	right: 32%;
	border-radius: 2px 0 0 2px;

	width: 5%;
}

.slider_option {
	position: relative;
	margin: 10px auto;
	width: 160px;
	font-size: 18px;
}
#slider ul li img {
	width: 51%;

	margin: 41% 0 0;
}
