* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "GothamBoldItalic";
	src: local("GothamBoldItalic"),
		url(../assets/Gotham-Font/GothamBoldItalic.ttf);
}
@font-face {
	font-family: "GothamBookItalic";
	src: local("GothamBookItalic"),
		url(../assets/Gotham-Font/GothamBookItalic.ttf);
}
/* ANIMATION CSS */

.shooting_stars {
	top: 0;
	left: 0;
	width: 4px;
	height: 4px;
	background: #fff;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
		0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
	animation: shooting 6s linear infinite;
	z-index: 100;
}

.shooting_stars::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	height: 1px;
	background: linear-gradient(90deg, #fff, transparent);
}

#shooting_star_1 {
	top: 0;
	right: 100px;
	left: initial;
	animation-delay: 0;
	animation-duration: 1s;
}

#shooting_star_2 {
	top: 0;
	right: -80px;
	left: initial;
	animation-delay: 0.2s;
	animation-duration: 3s;
}

#shooting_star_3 {
	top: 0px;
	right: 200px;
	left: initial;
	animation-delay: 0.4s;
	animation-duration: 2s;
}

#shooting_star_4 {
	top: 0;
	right: 0;
	left: initial;
	animation-delay: 0.6s;
	animation-duration: 1.5s;
}

@keyframes shooting {
	0% {
		transform: rotate(315deg) translateX(0);
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: rotate(315deg) translateX(-2000px);
		opacity: 0;
	}
}


.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

#star_0 {
	animation: twinkle 1.5s ease-in-out infinite;
	animation-direction: alternate-reverse;
}

#star_1 {
	animation: twinkle 1s ease-in-out infinite;
	animation-direction: alternate-reverse;
}

#star_2 {
	animation: twinkle 2.5s ease-in-out infinite;
	animation-direction: alternate-reverse;
}

#star_3 {
	animation: twinkle 2s ease-in-out infinite;
	animation-direction: alternate-reverse;
}

@keyframes twinkle {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}


