* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "GothamBoldItalic";
	src: local("GothamBoldItalic"), url(../assets/Gotham-Font/GothamBoldItalic.ttf)
}

.landing_page {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.arc_cut {
	position: absolute;
	left: 50%;
	height: 63%;
	width: 29%;
	overflow: hidden;
	transform: translateX(-50%);
	top: 0;
}

.front_cloud {
	position: absolute;
	width: 20%;
	height: 20%;
	left: 12%;
	top: 46%;
}

.back_cloud {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 34%;
	top: 24%;

	-webkit-mask-image: url(../../assets/images/arc_cut.png);
	mask-image: url(../../assets/images/arc_cut.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.mobile {
	position: absolute;
	min-width: 32%;
	min-height: 57%;
	left: 14%;
	top: 23%;
	overflow: hidden;
}

.angel {
	position: absolute;
	width: 32%;
	height: 57%;
	left: 44%;
	top: 40%;
	overflow: hidden;
}

.btm_cloud {
	position: absolute;
	width: 100%;
	bottom: -28%;
	left: 0;
	overflow-x: hidden;
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 3%;
	width: 30%;
	height: 60px;
}

/* second css */

.second_sec {
	background-image: url("../../assets/images/ufo_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 160vh;
	position: relative;
	z-index: -1;
	overflow: hidden;
}

.black_overlay {
	height: 100%;
	width: 100%;
	display: block;
	z-index: 10;
	position: relative;
	background-image: linear-gradient(
		0deg,
		black 5%,
		transparent,
		transparent 90%
	);
}

.light_ray {
	width: 100%;
	height: 100vh;
	left: 0;
	top: 24%;
	position: absolute;
}

.ufo {
	left: 50%;
	top: 10%;
	width: 550px;
	height: 300px;
	position: absolute;
	margin-left: -275px;

	display: flex;
	justify-content: center;
}

.ufo_image {
	position: relative;
	z-index: 7;
}

.rays {
	width: 100%;
	overflow: hidden;
}

.ray1,
.ray2 {
	display: block;
	left: 50%;
	height: 0;
	z-index: 5;

	position: absolute;
	transform: translate(-50%, 100px);
	border-bottom: 2000px solid rgba(255, 255, 255, 0.2);
}

.ray1 {
	border-left: 55vw solid transparent;
	border-right: 55vw solid transparent;
	width: 0vw;
}

.ray2 {
	width: 0vw;
	border-left: 48vw solid transparent;
	border-right: 48vw solid transparent;
}
/* third css */

.third_sec {
	/* background-image: linear-gradient(0deg, black 65%, transparent);  */
	color: white;
	height: 200vh;
	width: 100%;

	background: black;

	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}

.vector_div {
	/* position: relative;
	width: 50vw;
	height: 59%;
	margin: auto;
	z-index: 5;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:  translate(-47%, -54%); */
	transition: all 0.5s ease; 
}



.tum_stars {
	z-index: 1;
	width: 3px;
	height: 7px;
	opacity: 0.5;
	position: absolute;
	border-radius: 20px;
	background: white;
	transition: all 1s ease;
	transform: rotate(45deg);
}

.star_div {
	width: 103px;
	height: 103px;
	position: absolute;
	top: 53px;
	left: 38%;
}

.star_div_down {
	width: 255px;
	height: 255px;
	position: absolute;
	bottom: 60px;
	left: 79px;
}

.star_div_half {
	width: 11%;
	height: 11%;
	position: absolute;
	top: 0;
	right: 27px;
}
/*  fourth css */

.fourth_section {
	color: white;
	min-height: 450vh;
	padding-top: 350px;
	background-image: url("../../assets/images/vector_smart.png");
	background-image: linear-gradient(
			180deg,
			black 0%,
			transparent 6%,
			transparent
		),
		url("../../assets/images/vector_smart.png");
	background-image: -webkit-gradient(
		180deg,
		black 0%,
		transparent 6%,
		transparent
	);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 4;
}

.content_image_div {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
}
.left_content_div {
	width: 35%;
}
.left_content_div img {
	width: 83%;
	height: 100%;
	object-fit: contain;
}

.meteoroid {
	position: absolute;
	width: 36%;
	height: 34vh;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 124%);
}
.meteoroid img {
	width: 89%;
	height: 100%;
}

.div_meteoroid {
	position: relative;
	min-height: 100vh;
}

.rocket_image {
	position: absolute;
	width: 70%;
	text-align: center;
	top: 23%;
	left: 50%;
	transform: translate(-50%, -2%);
}

.rocket_image img {
	width: 40%;
}
.rocket {
	min-height: 200vh;
	position: relative;
}

.innovative {
	top: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 200%);
	width: 100%;
	height: 17%;
}

.innovative h1 {
	font-size: 6rem;
}

.bottoms_cloud {
	position: absolute;
	bottom: -127px;
	left: 0;
	width: 100%;
	height: 12%;
}

.bottoms_cloud img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.right_content_div h6 {
	font-family: GothamBoldItalic;
	font-size: 67px;
	margin: 0;
	font-style: italic;
}

.right_content_div {
	width: 36%;
	padding-top: 69px;
	color: white;
}

.right_content_div p {
	font-family: GothamBoldItalic;
	font-size: 31px;
	word-spacing: 16px;
	font-weight: bold;
	font-style: italic;
}

.fontSOCIAL {
	top: -9px;
	position: absolute;
	font-size: 75px;
	left: -226px;
	font-family: GothamBoldItalic;
	font-style: italic;
	font-weight: bold;
	color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;

	margin: 0;
}

.Advertising {
	position: absolute;
	right: -91px;
	bottom: 32px;
	font-size: 65px;
	margin: 0;
	z-index: -1;
	font-family: GothamBoldItalic;
	font-style: italic;
	font-weight: bold;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
		1px 1px 0 #fff;
}

.rocket_text {
	position: absolute;
	top: 0%;
	left: 0;
	right: 0;
	width: 57%;
	font-size: 51px;
	margin: auto;
	text-align: center;
}

.rocket_text h6 {
	margin: 15px 0;
	font-family: GothamBoldItalic;
	font-style: italic;
	font-weight: bold;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	text-shadow: -1px -1px 0 #fff;
}

.text_programatic {
	left: 0;
	font-size: 80px;
	position: absolute;
	bottom: -123px;
    font-family: "GothamBoldItalic";
	margin: 0;
	text-align: center;
	right: 0;
	font-style: italic;
	font-weight: bold;
	color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
}

.para_programatic {
	position: absolute;

	bottom: 33%;

	left: 0;
	right: 0;
	font-size: 30px;
	text-align: center;
	font-family: GothamBoldItalic;
	font-style: italic;
	font-weight: bold;
}
.para_programatic p {
	margin: 5px;
}

.ul_rocket {
	color: white;
	left: 0;
	position: absolute;
	bottom: 0%;
	right: 0;
	width: 56%;
	margin: auto;
	font-size: 25px;
}

.ul_rocket ul {
	margin: auto;
	padding: 0;
	list-style: none;
	font-family: GothamBoldItalic;
	font-style: italic;
	font-weight: bold;
}

.ul_rocket li {
	padding-bottom: 31px;
	position: relative;
	padding-left: 68px;
}

.ul_rocket li::after {
	position: absolute;
	top: 0;
	left: 21px;
	width: 28px;
	height: 31px;
	content: "";
	background-position: center;
	background-image: url(../../assets/images/star.png);
	background-size: contain;
	background-repeat: no-repeat;
}
/* fifth css */

.fifth_sec {
	min-height: 400vh;
	background-image: url(../../assets/images/sky.png);
	padding-top: 200px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.plane {
	position: relative;
	min-height: 30vh;
	text-align: center;
}
.plane img {
	width: 35%;
}

.cloud_plane_section_1 {
	width: 39%;
	position: absolute;
	height: 36%;
	top: 49%;
	left: -15%;
}

.cloud_plane_section_2 {
	position: absolute;
	top: 0px;
	
    right: -17%;

	width: 30%;
	height: 17%;
}

.cloud_plane_section_3 {
	bottom: 0;
	position: absolute;
	width: 46%;
	height: 47%;
	
    right: -27%;

}

.top_plane {
	min-height: 84vh;
	position: relative;
	padding-top: 173px;

	padding-top: 173px;
}

.mid_plane {
	min-height: 130vh;
	position: relative;
}

.marashot {
	position: relative;
	height: 50%;
	width: 50%;
}

.marashot {
	position: relative;
	height: 70vh;
	width: 30%;
	margin: auto;
}

.marashot2 {
	position: absolute;
	top: 15%;
	right: 150px;
	width: 16%;
	height: 26%;
	opacity: 0.7;
}

.cloud_plane {
	position: absolute;
	top: 50%;
	right: -17%;
	width: 36%;
	height: 30%;
}

.bird {
	position: absolute;
	width: 20%;
	height: 20%;
	top: 62%;
	left: 0px;
}

.bird2 {
	position: absolute;
	width: 14%;
	height: 20%;
	bottom: -200px;
	right: 75px;
	opacity: 0.8;
}

.building {
	width: 100%;
	display: flex;
	min-height: 150vh;
	position: relative;
	align-items: flex-end;
	justify-content: center;
}

.building_image {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.creative_name {
	font-size: 2rem;
	color: white;
}

.creative_wrapper {
	width: 85%;
	z-index: 10;
	text-align: center;
}

.creative {
	width: 100%;
	z-index: 10;
	height: 30rem;
	position: relative;
	border-radius: 20px;
	box-sizing: border-box;
	background-color: #f2b7b5;
    -moz-box-sizing: border-box;
	border: 0.8rem solid #e86c8d;
    -webkit-box-sizing: border-box;
}

.house {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 100%;
	grid-gap: 1rem;
}

.hut_mid {
	height: 80%;
	width: 90%;
	background-image: url(../../assets/images/mid.png);
}

.hut_sm {
	height: 70%;
	width: 80%;
	background-image: url(../../assets/images/small.png);
}

.hut_lg {
	width: 100%;
	height: 100%;
	align-self: flex-end;
	justify-self: center;
	justify-content: center;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url(../../assets/images/center.png);

	display: flex;
	align-items: flex-end;
	padding: 0 0.5rem;

	padding-bottom: 4rem;
}

.hut_sm,
.hut_mid {
	display: grid;
	grid-gap: 1rem;
	align-self: flex-end;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
}

.left1,
.left2 {
	justify-self: flex-end;
}

.right1,
.right2 {
	justify-self: flex-start;
}

.icon_lt {
	justify-self: flex-end;
}
.icon_rt {
	justify-self: flex-start;
}
.icon_dn {
	align-self: flex-start;
}
.icon_up {
	align-self: flex-end;
}

.icon_dn,
.icon_up {
	width: 50%;
	height: 7rem;
	border-radius: 1rem;
	border: 0.5rem solid #e86c8d;
	background-color: #f2b7b5;
}

.plane_pro {
	position: absolute;
	left: -17%;
	right: 0;
	text-align: center;
	font-size: 75px;
	top: -36px;
	margin: 0;
	font-family: GothamBoldItalic;
	font-style: italic;
	font-weight: bold;
	color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
}

.plane_buy {
	top: 95px;
	position: absolute;
	font-size: 75px;
	left: 66%;
	right: 50%;
	text-align: center;
	margin: 0;
	font-family: GothamBoldItalic;
	font-style: italic;
	font-weight: bold;
	color: #fff;
}

.para_plane {
	position: absolute;
	bottom: -235px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 30px;
	font-size: 27px;
	width: 73%;
	margin: auto;
	color: white;
	font-family: GothamBoldItalic;

}

.para_plane p {
	margin: 10px;
	font-family: GothamBoldItalic;
	font-style: italic;
	font-weight: bold;
}

.our_clients {
	text-align: center;
	font-size: 75px;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: -136px;
	font-family: GothamBoldItalic;
	font-style: italic;
	font-weight: bold;
	color: white;
}

.carousel_parashot {
	width: 100%;
	margin: auto;
	height: 53vh;
}

.carousel_lebel {
	text-align: center;
	
	font-family: GothamFont;
	font-style: italic;
	font-weight: bold;
	font-size: 50px;
	color: white;
}

/* carousel css */

#carousel {
	position: relative;
	min-height: 587px;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	display: flex;
    justify-content: space-between;
}
#carousel div {
	position: absolute;
	transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
	opacity: 1;
}
#carousel div img {
	width: 400px;
	transition: width 400ms;
	-webkit-user-drag: none;
}
#carousel div.hideLeft {
	left: 0%;
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
	width: 200px;
}
#carousel div.hideRight {
	left: 100%;
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
	width: 200px;
}
#carousel div.prev {
	z-index: 5;
	left: 30%;
	transform: translateY(50px) translateX(-50%);
	width: 33%;
	text-align:flex-start;
}
#carousel img:hover {
	cursor: pointer;
}
#carousel div.prev img {
	width: 300px;
}
#carousel div.prevLeftSecond {
	z-index: 4;
	left: 15%;
	transform: translateY(50%) translateX(-50%);
	opacity: 0.7;
}
#carousel div.prevLeftSecond img {
	width: 200px;
}
#carousel div.selected {
	z-index: 10;
	left: 50%;
	transform: translateY(0px) translateX(-50%);
	width: 33%;
	text-align:center;
}
#carousel div.next {
	z-index: 5;
	left: 70%;
	transform: translateY(50px) translateX(-50%);
	width: 33%;
	text-align: end;

}
#carousel div.next img {
	width: 300px;
}
#carousel div.nextRightSecond {
	z-index: 4;
	left: 85%;
	transform: translateY(50%) translateX(-50%);
	opacity: 0.7;
}
#carousel div.nextRightSecond img {
	width: 200px;
}

.buttons {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
	display: none;
}




/* start animation */


.shooting_stars {
	top: 0;
	left: 0;
	width: 4px;
	height: 4px;
	background: #fff;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
		0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
	animation: shooting 6s linear infinite;
	z-index: 100;
}

.shooting_stars::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	height: 1px;
	background: linear-gradient(90deg, #fff, transparent);
}

#shooting_star_1 {
	top: 0;
	right: 100px;
	left: initial;
	animation-delay: 0;
	animation-duration: 1s;
}

#shooting_star_2 {
	top: 0;
	right: -80px;
	left: initial;
	animation-delay: 0.2s;
	animation-duration: 3s;
}

#shooting_star_3 {
	top: 0px;
	right: 200px;
	left: initial;
	animation-delay: 0.4s;
	animation-duration: 2s;
}

#shooting_star_4 {
	top: 0;
	right: 0;
	left: initial;
	animation-delay: 0.6s;
	animation-duration: 1.5s;
}

@keyframes shooting {
	0% {
		transform: rotate(315deg) translateX(0);
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: rotate(315deg) translateX(-2000px);
		opacity: 0;
	}
}

/*  floating  */
.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

#star_0 {
	animation: twinkle 1.5s ease-in-out infinite;
	animation-direction: alternate-reverse;
}

#star_1 {
	animation: twinkle 1s ease-in-out infinite;
	animation-direction: alternate-reverse;
}

#star_2 {
	animation: twinkle 2.5s ease-in-out infinite;
	animation-direction: alternate-reverse;
}

#star_3 {
	animation: twinkle 2s ease-in-out infinite;
	animation-direction: alternate-reverse;
}

@keyframes twinkle {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

#img_vector {
	transition: all 0.5s ease;
	width: 10%;
}

.animate_vector_div_1 {
	transform: rotate(180deg);
	
}
.animate_vector_div_2 {
	transform: rotate(360deg);

}
.animate_vector_div_3 {
	transform: rotate(540deg);
	
}
.animate_vector_div_4 {
	transform: rotate(720deg);

}
.scrollMagic_div1 {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 250px;
}


.scrollMagic_div2 {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
	height: 250px;
  
}

.scrollMagic_div3 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
	height: 250px;

  
}
.scrollMagic_div4 {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height: 250px; 
}




.scalE{
	width: 50%!important;
}



